<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/_layout" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!--    <link rel="stylesheet" th:href="@{/css/style.css}">-->
    <link rel="stylesheet" th:href="@{/css/library.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">

    <!--    <link rel="stylesheet" href="../../static/css/admin.css">-->
    <!--    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" href="../../static/css/library.css">-->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css"
    />
    <title>Add Product</title>
</head>
<body>
<div class="container-xxl">
    <div class="content" layout:fragment="content-admin">
        <div class="card-body">
            <form th:action="@{saveAdd}" th:object="${product}" method="post" id="productAddForm">
                <h2 class="text-center">ADD PRODUCT</h2>
                <p class="error" style="display:  none; font-style: italic" th:text="${messagePd}" id="addProductError"></p>
                <fieldset class="form-group">
                    <label>Product name </label>
                    <input class="form-control" type="text" required th:field="*{name}" minlength="2" id="add_pd_name">
                </fieldset>
                <fieldset class="form-group">
                    <label>Product price </label>
                    <input class="form-control" type="number" required th:field="*{price}" step="0.1" id="add_pd_price">
                </fieldset>
                <fieldset class="form-group">
                    <label>Product category  </label>
                    <select th:field="*{category.id}" class="form-select" id="add_pd_category">
                        <option th:each="category : ${categoryList}" th:text="${category.name}" th:value="${category.id}"/>
                    </select>
                </fieldset>
                <fieldset class="form-group">
                    <label>Product image </label>
                    <input class="form-control" type="file" required th:field="*{image}" id="add_pd_image">
                </fieldset>
                <div th:object="${productDetail}">
                    <fieldset class="form-group">
                        <label>Product size </label>
                        <input class="form-control" type="text"  th:field="*{size}" id="add_pd_size">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Product brand </label>
                        <input class="form-control" type="text" th:field="*{brand}">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Product quantity </label>
                        <input class="form-control" type="number" th:field="*{quantity}" id="add_pd_quantity">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Product url </label>
                        <input class="form-control" type="text" required th:field="*{url}" minlength="2" id="add_pd_url">
                    </fieldset>
                    <input class="form-control" type="hidden" th:value="${product.id}" th:field="*{product.id}">
                    <fieldset class="form-group">
                        <label>Product description </label>
                        <textarea class="form-control" type="text" th:field="*{description}">
                        </textarea>
                    </fieldset>
                </div>

                <div class="col text-center mt-3">
                    <button type="button" class="btn btn-danger" onclick="return checkAddProductForm();" >ADD</button>
                    <button type="reset" class="btn btn-secondary">RESET</button>
                </div>
            </form>
        </div>
        <i class="ti-layout-grid2-alt" id="btndashboard"></i>
    </div>

</div>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-showhidedashboard.js}"></script>
</body>
</html>